html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    color: #1F1717;
    font-family: 'DM Sans', sans-serif;
}
body.menu-open {
    overflow: hidden;
}
#FB {
    scroll-margin-top: 80px;
}
#TW {
    scroll-margin-top: 80px;
}
#IG {
    scroll-margin-top: 80px;
}
#YT {
    scroll-margin-top: 80px;
}
.container {
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}
header {
    background-color: white;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 13px 0px;
}
.header {
    max-width: 1168px;
    margin: 20px auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo a {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    cursor: pointer;
}
header img {
    width: 130px;
    height: 22px;
}
.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.header__right a {
    font-family: 'Marcellus', serif;
    text-decoration: none;
    line-height:1.2 ;
    font-size: 28px;
    color: #1F1717;
}
.header__right a:hover {
    text-decoration: underline;
}
.slogan {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-left: 0px;
}
ul a {
    color: #1F1717;
}
ul li {
    height: 33px;
}
header a {
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.dropdown-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    gap: 4px;
}
.dropdown-btn span {
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-btn span {
    border-bottom: 1px solid white;
}
.dropdown-btn span:hover {
    border-bottom: 1px solid black;
}
.dropdown .nav-homme:hover {
    border-bottom: 1px solid black;
}
#nav-homme a:hover {
    border-bottom: 1px solid black;
}
.dropdown-menu {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.04);
    list-style: none;
    padding: 6px 0;
    margin: 0;
    display: none;
    width: 210px;
    z-index: 900;
}
.dropdown-menu li {
    cursor: pointer;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-btn span {
    font-size: 20px;
}
.menu-close {
    display: none;
}
.nav__main {
    gap: 24px;
}
.dropdown a {
    height: 33px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
}
.nav__icon {
    gap: 5px;
}
.nav__icon li:hover {
    transform: scale(1.1);
}
.nav__icon a {
    padding: 5.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #F6F6ED;
}
.nav__icon svg {
    color: white;
}
.content-dropdown {
    margin-left: 30px;
    padding: 0;
    height: 33px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
}
.dropdown-menu li {
    margin: 12px 0px;
}
main {
    background-color: #f1f1f1;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    position: relative;
    z-index: 800;
}
.img-headmain {
    width: 100vw;
    height: 710px;
    background-image: url(./img/journey_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-headmaincontent {
    max-width: 1168px;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
}
.img-headmaincontent div {
    margin-top: 24px;
}
.img-headmaincontent1 {
    font-size: 24px;
    width: 50%;
}
.img-headmaincontent2 {
    font-size: 48px;
    line-height: 1.3;
    font-family: 'Marcellus', serif;
    width: 50%;
}
.img-headmaincontent3 {
    font-size: 16px;
    line-height: 1.6;
    width: 50%;
}
.img-headmainbutton {
    width: 146px;
    height: 50px;
    background-color: #1F1717;
    border-radius: 24px;
}
.img-headmainbutton a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.img-headmainbutton a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-content {
    max-width: 1168px;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title {
    font-size: 38px;
    font-family: 'Marcellus', serif;
    margin-top: 72px;
}
.text {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 24px;
    color: #4F4D49;
}
.main-components {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;
    margin-top: 34px;
}
.main-component {
    width: 100%;
    background-color: white;
}
.main-componentimg {
    width: 100%;
}
.main-componentcontent {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-component img {
    width: 100%;
}
.location {
    border: 1px #D3CDC3 solid;
    border-radius: 50px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.location a {
    text-decoration: none;
    font-size: 13px;
    color: #4f4d49;
    padding: 6px 16px;
}
.location a:hover {
    text-decoration: underline;
}
.title {
    margin-bottom: 8px;
}
.title a {
    font-size: 27px;
    font-weight:800;
    text-decoration: none;
    color: black;
}
.title a:hover {
    text-decoration: underline;
}
.time {
    font-size: 14px;
    line-height: 1.6;
    color: #4f4d49;
}
.intro {
    font-size: 18px;
    color: #4f4d49;
    margin-top: 20px;
    line-height: 1.6;
}
.readmore {
    border-radius: 50px;
    height: 50px;
    width: 126px;
    background-color: #1F1717;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.readmore a:hover {
    text-decoration: underline;
}
.readmore a {
    text-decoration: none;
    color: white;
}
.pages {
    margin: 64px 0px;
}
.pages a {
    padding: 12px 32px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #D3CDC3;
    margin: 0px 2px;
    width: 5px;
}
.pages a:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
    text-decoration: underline;
    width: 5px;
}
.first-page a {
    color: white;
    background-color: black;
    border: none;
}
.first-page a:hover {
    background-color: black;
    border: none;
    text-decoration: none;
}
.main-video {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    width: 100%;
    margin-top: 36px;
}
.main-videoitem {
    width: 100%;
}
.main-videoitem video {
    width: 100%;
}
.main-videoitem div {
    margin-top: 24px;
    font-size: 24px;
    font-family: 'Marcellus', serif;
    line-height: 1.2;
    text-align: center;
}
.gallery {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 48px 0px 96px;
}
.gallery img {
    width: calc(100% / 6 - 1.3%);
    cursor: pointer;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-bottom: -4px;
}
.logo a {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 120px;
    height: 20px;
}
footer hr {
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
}
.footer {
    margin-bottom: 16px;
}
.footer a {
    color: #4F4D49;
    margin-left: 4px;
}
.footer a:hover {
    text-decoration: underline dashed;
}
.menu-toggle {
            display: none;
            font-size: 26px;
            cursor: pointer;
            padding-bottom: 16px;
        }
@media (max-width: 720px) {
    header {
        padding: 0px;
        padding-top: 15px;
    }
    .header {
        max-width: 688px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 132px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .img-headmaincontent{
        max-width: 688px;
        width: 100%;
    }
    .img-headmaincontent div {
        width: 100%;
    }
    .img-headmainbutton {
    max-width: 146px;
    height: 50px;
    }
    .main-content {
        max-width: 688px;
    }
    .text {
        text-align: center;
    }
    .banner img {
        max-width: 688px;
        width: 96vw;
    }
    .main-video {
        max-width: 688px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}
@media (max-width: 480px) {
    .header {
        max-width: 448px;
    }
    .img-headmaincontent {
        max-width: 448px;
    }
    .main-components {
        max-width: 448px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100vw - 32px);
    }
    .main-video {
        max-width: 448px;
        width: calc(100vw - 32px);
        gap: 32px;
    }
    .menu-toggle {
                display: block;
            }
            .nav__main {
                position: fixed;
                inset: 0;
                background: #fff;
                flex-direction: column;
                align-items: flex-start;
                display: none;
                z-index: 1101;
            }
            .nav__main.active {
                display: flex;
                margin-top: 0px;
                justify-content: flex-start;
                padding: 0px;
                width: calc(100vw - 32px);
                gap: 0px;
                padding: 16px;
                height: 100vh;
            }
            .nav__main.active span {
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }
            .dropdown {
                margin-bottom: 120px;
            }
            .dropdown hr {
                display: none;
            }
            .dropdown ul {
                display: block;
            }
            .dropdown-menu {
                position: static;
                border: none;
            }
            #nav-homme {
                margin-bottom: 12px;
                margin-top: 32px;
            }
            .gallery {
                width: calc(100vw - 32px);
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
            .gallery img {
                width: 100%;
            }
            .pages a {
                padding: 4px 12px;
                height: 24px;
            }
}